* {
	/*border: 1px solid red !important;*/
}
body {
	background-color: #f0f0f0;
}
h1, h2, h3 {
	font-family: 'Lobster',verdana,arial,sans-serif !important;
}
h4, h5, h6, p {
	font-family: 'Signika', verdana, arial, sans-serif !important;
}
h1 {
	font-size: 28px !important;
	font-weight: 700 !important;
}
h2 {
	font-size: 26px !important;
	font-weight: 600 !important;
}
h3 {
	font-size: 24px !important;
	font-weight: 500 !important;
}
h4 {
	font-size: 22px !important;
	font-weight: 500 !important;
}
h5 {
	font-size: 14px !important;
	font-weight: 500 !important;
}
h6 {
	font-size: 12px !important;
	font-weight: 500 !important;
}
a {
	text-decoration: none;
	color: inherit;
}
/*******header************/
#header-wrapper, #middle-wrapper {
	max-width: 900px;
	margin: auto;
}
header {
	position: relative;
	overflow: hidden;
	height: 50px;
	background-color: #3d003d;
}
#header-left, #header-right, header ul li {
	display: inline-block;
}
header ul li {
	padding-right: 10px;
	float: left;
}
#header-left, #header-right {
	vertical-align: middle;
}
#header-left {
	float: left;
	left: 0;
	width: 640px;
}
#header-right {
	float: right;
	margin-left: 610px;
}
#title-wrapper {
	color: #fff;
	height: 50px;
	width: 150px;
	text-align: center;
}
#title-wrapper, .link-wrapper {
	border-right: 1px solid #501950;
}
#title-wrapper h3 {
	padding-top: 10px;
}
.link-wrapper {
	width: 100%;
	height: 46px;
	text-align: center;
	margin: 2px auto;
	padding: 0 10px;
	float: left;
}
.link-wrapper h5 {
	color: #c0c0c0;
	padding-top: 15px;
	padding-left: 5px;
}
/****middle**********/
#middle-wrapper {
	position: relative;
	color: #333;
}
section {
	float: left;
	width: 500px;	
}
#background-direction-wrapper {
	width: 500px;
	height: 300px;
	background-image: url('babysweater.jpg');
	background-size: 500px 400px;
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 20px;
	padding-top: 100px;
}
#direction-wrapper {
	margin: auto;
	background: rgba(255, 255, 255, 0.5);
	width: 320px;
	height: 180px;
	border-radius: 5px;
}
section p {
	width: 300px;
	height: 200px;
	font-size: 25px;
	margin: 0 auto;
	font-weight: bold;
	color: #000;
	padding-top: 10px;
}
section p span {
	font-size: 16px;
}
section p a:hover {
	text-decoration: underline;
	color: #c0c0c0;
}
/***aside***/
aside {
	float: right;
	margin-left: 550px;
	width: 300px;
}
#good-stuff-wrapper {
	margin: 20px 20px 0 0;
	background-color: #fff;
	padding: 10px;
}
#heading-wrapper {
	text-align: center;
}
aside h3 {
	padding: 15px 0;
	margin: auto;
}
button {
	border: 1px solid #f0f0f0;
	background-color: #c0c0c0;
	width: 118px;
	height: 30px;
	float: left;
	margin-bottom: 10px;
}
button:hover, {
	background-color: #404040;
	color: #f0f0f0;
}
#button-wrapper {
	margin: 10px;
}
#left-button {
	border-radius: 5px 0 0 5px;
}
#right-button {
	border-radius: 0 5px 5px 0;
}
#knitting-thumbs ul li, #crochet-thumbs ul li, .thumb-image, .lesson-text {
	padding: 5px;
	display: block;
	margin-bottom: 5px;
}
#knitting-thumbs ul li, #crochet-thumbs ul li {
	width: 260px;
	height: 80px;
	border-bottom: 1px solid #f0f0f0;
	margin: auto;
}
#knitting-thumbs {
	margin-top: 20px;
	border-top: 1px solid #f0f0f0;
}
.thumb-image {
	height: 50px;
	width: 50px;
	float: left;
	top: 0;
}
.lesson-text {
	float: right;
	width: 180px;
	top: 0;
}
.lesson-intro {
	padding-top: 5px;
}
/***media queries***/
@media screen and (max-width: 820px) {
	
}