* {
	/*border: 1px solid red !important;*/
}
body {
	background-color: #f0f0f0;
}
/****headings***/
h1, h2, h3 {
	font-family: 'Lobster',verdana,arial,sans-serif !important;
}
h4, h5, h6, p {
	font-family: 'Signika', verdana, arial, sans-serif !important;
}
h1 {
	font-size: 28px !important;
	font-weight: 700 !important;
}
h2 {
	font-size: 26px !important;
	font-weight: 600 !important;
}
h3 {
	font-size: 24px !important;
	font-weight: 500 !important;
}
#title-wrapper h3 {
	margin: 0 auto;
}
aside h3 {
	padding: 15px 0;
	margin: auto;
}
#content-wrapper h3, #form-wrapper h3 {
	text-transform: capitalize;
	padding-bottom: 10px;
}
.middle-wrapper h3 {
	margin: 20px auto;
}
h4 {
	font-size: 22px !important;
	font-weight: 500 !important;
}
h5 {
	font-size: 14px !important;
	font-weight: 500 !important;
}
.link-wrapper h5 {
	color: #c0c0c0;
	padding: 15px 15px;
}
h6 {
	font-size: 12px !important;
	font-weight: 500 !important;
}
/****a***/
a {
	text-decoration: none;
	color: inherit;
}
section p a:hover, .middle-wrapper a:hover {
	text-decoration: underline;
	color: #c0c0c0;
}
.middle-wrapper a {
	font-family: arial;
	font-size: 18px;
	text-align: left;
	color: #501950;
	margin: auto;
}
/********buttons*********/
button {
	border: 1px solid #f0f0f0;
	background-color: #c0c0c0;
	width: 118px;
	height: 30px;
	float: left;
	margin-bottom: 10px;
	-webkit-transition: background 0.6s ease;
  	-moz-transition: background 0.6s ease;
  	-o-transition: background 0.6s ease;
  	transition: background 0.6s ease;
}
button:hover {
	background-color: #404040;
	color: #f0f0f0;
}
#button-wrapper {
	margin: 10px;
}
#left-button {
	border-radius: 5px 0 0 5px;
}
#right-button {
	border-radius: 0 5px 5px 0;
}
/************images************/
.slide {
	width: 200px;
	height: 175px;
}
/************list items*************/
.middle-wrapper li {
	display: block;
	padding-top: 10px;
	width: 100%;
}
header ul li, .section-wrapper, .aside-wrapper, #left-links, #right-links {
	display: inline-block;
}
header ul li {
	text-align: center;
	height: 100%;
}
#patterns-section li {
	border-bottom: 1px solid #c0c0c0;
}
#knitting-thumbs ul li, #crochet-thumbs ul li {
	width: 260px;
	height: 80px;
	border-bottom: 1px solid #f0f0f0;
	margin: auto;
}
/*******paragraphs**************/
section p {
	max-width: 300px;
	max-height: 200px;
	height: 100%;
	font-size: 25px;
	margin: 0 auto;
	font-weight: bold;
	color: #000;
	padding-top: 10px;
}
#content-wrapper p {
	padding-bottom: 20px;
}
#patterns-section p {
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	margin: 10px;
	width: 80%;
	max-width: 600px;
}
/*******header************/
#header-wrapper, .middle-wrapper {
	max-width: 900px;
	margin: 0 auto;
}
#header-wrapper, input[type="submit"] {
	background: -webkit-linear-gradient(#643364, #3d003d);
	background: -o-linear-gradient(#643364, #3d003d);
	background: -moz-linear-gradient(#643364, #3d003d);
	background: linear-gradient(#643364, #3d003d);
}
#header-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 50px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	border: none;
}
#title-wrapper {
	color: #fff;
	height: 50px;
	width: 150px;
	text-align: center;
	margin: auto;
}
#first-link {
	border-left: 1px solid #501950;
}
.link-wrapper {
	width: 100%;
	height: 50px;
	text-align: center;
	margin: auto;
	border-right: 1px solid #501950;
	border-top: 1px solid #501950;
}
/****middle**********/
.middle-wrapper {
	position: relative;
	color: #333;
	max-width: 900px;
	text-align: center;
	vertical-align: top;
}
.section-wrapper, .aside-wrapper {
	margin: 0 auto;
	text-align: left;
	vertical-align: top;
}
.section-wrapper, #background-direction-wrapper, #direction-wrapper, section p {
	width: 100%;
}
.section-wrapper {
	max-width: 500px;
}
#background-direction-wrapper {
	max-width: 500px;
	height: auto;
	background-image: url('babysweater.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	margin: 20px auto;
	padding: 20% 0 20% 0;
	position: relative;
}
#direction-wrapper {
	margin: auto;
	background: rgba(255, 255, 255, 0.5);
	max-width: 320px;
	height: 180px;
	border-radius: 5px;
}
section p span {
	font-size: 16px;
}
/***aside***/
.aside-wrapper {
	width: 275px;
	margin: 20px 20px 0 0;
	background-color: #fff;
	padding: 10px;
}
#heading-wrapper {
	text-align: center;
}
#knitting-thumbs ul li, #crochet-thumbs ul li, .thumb-image, .lesson-text {
	padding: 5px;
	display: block;
	margin-bottom: 5px;
}
#knitting-thumbs {
	margin-top: 20px;
	border-top: 1px solid #f0f0f0;
}
#knitting-thumbs, #crochet-thumbs {
	display: none;
}
.thumb-image {
	height: 50px;
	width: 50px;
	float: left;
	top: 0;
}
.lesson-text {
	float: right;
	width: 180px;
	top: 0;
}
.lesson-intro {
	padding-top: 5px;
}
/*****About Me - page***/
#content-wrapper {
	margin: 10%;
	text-align: left;
}
/******Contact - page***/
#form-wrapper {
	text-align: center;
	margin: 10%;
}
input[type="text"], input[type="email"] {
	height: 30px;
}
input[type="text"], input[type="email"], form textarea {
	margin: 10px auto;
	border-radius: 5px;
	border: 1px solid #501950;
	width: 80%;
}
input[type="submit"] {
	width: 60px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #501950;
	color: #fff;
	background: #501950;
}
/***Finished Projects - page***/
#image-container {
	margin: 20px auto;
	text-align: center;
	max-width: 800px;
}
/***Patterns - page***/

/***media queries***/
@media screen and (max-width: 500px) {
	#left-links, #right-links {
		max-width: 160px;
	}
	.link-wrapper {
		border: 1px solid #501950;
	}
}